.main {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.aside {
    flex: 0 1 250px;
    &__nav {
        margin-top: 10px;
        padding: 20px 20px 20px 0;
        height: calc(100vh - 114px);
    }
    &__menu {
        padding: 0;
        margin: 0;
    }
    &__item {
        list-style: none;
        border-left: 5px solid transparent;
        margin: 0;
        padding-left: 10px;
        line-height: 40px;
        a {
            display: block;
            width: 100%;
            color: $cor02;
            text-decoration: none;
        }
        &:hover {
            background-color: #ececec00;
            border-left: 5px solid $cor01;
            a {
                font-weight: 600;
            }
        }
    }
}

.content {
    flex: 1 1 auto;
    margin-top: 30px;
    padding: 0 20px 20px 20px;
    &__header {
        display: flex;
        justify-content: space-between;
        h2 {
            color: $cor02;
        }
    }
    &__search {
        form#FormSearchSales {
            display: flex;
            align-items: center;
            input[type="text"] {
                background-color: #fff;
                border: none;
                padding: 10px;
            }
            input[type="submit"] {
                background-color: $cor01;
                border: none;
                padding: 10px;
                color: #fff;
                font-weight: 400;
            }
        }
    }
    &__table {
        width: 100%;
        padding: 20px;
        background-color: #fff;
        tr {
            width: 100%;
            &.first {
                td {
                    font-weight: 600;
                }
            }
            td {
                padding: 10px;
                color: $cor02;
            }
        }
    }
    p.showing {
        margin-top: 40px;
    }
}